/**{ border: 1px solid red; }*/


body {
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1) 
    ),
    /* bottom, image */
    url(../img/bkg.png?v=1);
  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: top;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 100vh;
    overflow: auto;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    

}
a {
    text-decoration-color:rgba(255, 255, 255, 0.5);

}
.googoo-img1 {
    width: 100%;
    margin-bottom:-4px;
}
.googoo-img {
    width: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.parmain {
    margin: auto;
    width: 750px;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    color:rgb(241, 255, 245);
    -webkit-text-stroke: .2px black;

}


#main {
    margin: auto;
    width: 900px;
    padding: 10px;
}


#thin {
    margin: auto;
    width: 700px;
    padding: 10px;
}

#indent {
    text-indent: 50px;
    line-height: 1.6;
}
#indent-normal {
    text-indent: 50px;
    line-height: 1;
}

#center {
    margin: auto;
    width: 60%;
    text-align:center;
}
.center {
    text-align:center;
}

#underline {
    text-decoration: underline;
}


/* tools!! */
#bullet {
    color:rgb(228, 255, 235);
    text-decoration: underline;
    text-decoration-color:rgba(255, 255, 255, 0.35);
    font-style: italic;
    display: inline-block;
    margin-bottom: 5px;
}

#bullet a{
    color:rgb(197, 235, 255);
    text-decoration-color:rgba(255, 255, 255, 0.35);

}

#bullet a:hover{
    color:rgb(133, 186, 214);
    text-decoration-color:rgba(255, 255, 255, 0.35);

}

.tools-layer {
    background-color: rgba(0, 0, 0, 0.316);
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.tools-layer p {
    display: inline;
}

#black {
    color: rgb(0,0,0);
}

/* title! */
.title {
    font-size: 64px;
    color:rgb(223, 111, 223);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    display:block;
    text-decoration: none;
    margin-bottom: -45px;
    
}

.title:hover {
    color:white;
    text-decoration: underline;
}

.subtitle {
  font-size: 32px;
  font-family: 'Nunito', sans-serif;
  color: rgb(136, 233, 180);
  padding: 7px;
}

/*------- NAVBAR COLUMNS ------- */
.title-column {
    margin-top: 0px;
    text-align: center;

    display: block;
    margin-bottom: 20px;
}
.title-column a {
    color: rgb(65, 236, 219);
    text-decoration: none;
}
.title-column a:hover {
    color: white;
    text-decoration: underline;
}
.navbar {
    font-size: 36px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 30px;
}
#n-active {
    text-decoration:underline;
    color: rgb(204, 255, 230);
}

/* ----- Other ----- */

hr.divider {
    border-top: 5px solid rgba(255, 255, 255, 1);
    color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
}
hr.thin {
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;

    margin-bottom: 30px;
    width: 550px;
}



/* img */

* {
  box-sizing: border-box;
}

.img-column {
  float: left;
  width: 50%;
  padding-left:25px;

  margin-bottom: 10px;
}


.img-column img {
    width: 384px;
    height: 216px;
}


/* Clearfix (clear floats) */
.img-row::after {
    content: "";
    clear: both;
    display: table;
}
.img-layer {
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;
}


/* ----------------- FOOTER --------------- */
.footer-layer {
    background-color: rgba(0, 0, 0, .4);
    background-attachment: fixed;

    width: 100%;
    height: auto;
    padding: 10px;  
    bottom: 0;
    position: absolute;
    overflow:hidden;


}
.footer{
    margin: auto;
    width:400px;
    overflow:hidden;
    box-sizing: border-box;

    
}
.footer a {
    color:rgb(65, 236, 219);
    padding-top: 7px;
    display: block;
    line-height: 0.5;
    text-align:left;
    text-decoration: none;

}

.footer a:hover {
    color: rgb(136, 233, 180);
    text-decoration: underline;
    text-decoration-color:rgba(255, 255, 255, 0.9);


}
.ft-boxart {

    float: right;
    width: 20%;
    height: 20%;
    margin-right: 20px;

    
}



* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}
   
.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 175px; /* height of your footer */
}

 