body {
    background: #f9f9f9 url(img/bkg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    
    width: 400px;
    margin: auto;
    width: 43%;
    padding: 10px;
}

p {
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
}

#indent {
    text-indent: 50px;
    line-height: 1.6;
}

#center {
    margin: auto;
    width: 60%;
    padding: 10px;
}


.title {
    font-size: 64px;
    color:purple;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.navbar {
    font-size: 36px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 30px;
}

.title-column {
    margin-top: 100px;
    text-align: center;

    display: block;
    padding-bottom: 15px;
}
.title-column a {
    color: turquoise;
    text-decoration: none;
}
.title-column a:hover {
    color: white;
    text-decoration: none;
}